name: Build

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  check-lints:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone
        uses: actions/checkout@v3
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: rustfmt, clippy
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: src-tauri
      - name: Install cargo-about
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cargo-about
          version: "=0.5.1"
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/hydrogen
          cache: yarn
      - name: Enable corepack
        run: corepack enable
      - name: Install Yarn dependencies
        run: yarn install --immutable --check-cache
      - name: Install apt packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libpython3-dev libdbus-1-dev libgtk-3-dev libsoup-gnome2.4-dev libwebkit2gtk-4.0-dev
          version: 1.0
      - name: Check Rust formatting
        working-directory: src-tauri
        run: cargo fmt --check
      - name: Check ESLint lints
        if: success() || failure()
        run: |
          yarn run lint
          (exit `git status --porcelain=v1 2>/dev/null | wc -l`)
      - name: Check Clippy lints (Debug)
        if: success() || failure()
        working-directory: src-tauri
        run: |
          mkdir ../dist
          cargo clippy --no-deps --locked -- --deny warnings --deny clippy::all
          rmdir ../dist
      - name: Check Clippy lints (Release)
        if: success() || failure()
        working-directory: src-tauri
        run: |
          mkdir ../dist
          cargo clippy --no-deps --locked --release -- --deny warnings --deny clippy::all
          rmdir ../dist
      - name: Check third-party licenses
        if: success() || failure()
        run: |
          git restore .
          ./update_dependencies.sh
          (exit `git status --porcelain=v1 2>/dev/null | wc -l`)
  build-web:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        name: Clone
      - uses: actions/setup-node@v3
        name: Setup Node
        with:
          node-version: "lts/hydrogen"
          cache: yarn
      - name: Install Yarn dependencies
        run: yarn install --immutable --check-cache
      - name: Build
        run: yarn run build -- --locked
      - name: Compress dist directory
        run: tar -cvzf web.tar.gz ./dist/*
      - uses: actions/upload-artifact@v3
        name: Upload Artifacts
        with:
          name: qcvis-web
          path: web.tar.gz
  build-tauri:
    strategy:
      matrix:
        os: ["ubuntu-20.04", "windows-2022", "macos-12"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        name: Clone
      - uses: actions-rs/toolchain@v1
        name: Setup Rust
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: src-tauri
      - uses: actions/setup-node@v3
        name: Setup Node
        with:
          node-version: "lts/hydrogen"
          cache: yarn
      - name: Install Yarn dependencies
        run: yarn install --immutable --check-cache
      - if: matrix.os == 'ubuntu-20.04'
        name: Install apt Packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libpython3-dev libdbus-1-dev libgtk-3-dev libsoup-gnome2.4-dev libwebkit2gtk-4.0-dev
          version: 1.0
      - name: Build Tauri
        run: yarn run build:tauri
      - if: matrix.os == 'macos-12'
        name: Compress .app directory
        run: tar cvzf qcvis.app.tar.gz ./src-tauri/target/release/bundle/macos/qcvis.app
      - uses: actions/upload-artifact@v3
        name: Upload Artifacts
        with:
          name: qcvis-tauri-${{ matrix.os }}
          path: |
            src-tauri/target/release/bundle/appimage/*.AppImage
            src-tauri/target/release/bundle/deb/*.deb
            src-tauri/target/release/bundle/msi/*.msi
            src-tauri/target/release/bundle/dmg/*.dmg
            qcvis.app.tar.gz
  release:
    runs-on: ubuntu-20.04
    needs:
      - build-web
      - build-tauri
    if: github.ref == 'refs/heads/trunk'
    steps:
      - uses: actions/checkout@v3
        name: Clone
      - uses: actions/download-artifact@v3
        with:
          path: artifacts
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            LICENSE.txt
            DEPENDENCIES.txt
            README.md
            artifacts/*
